#card-wrapper {
	width: 40%;
	margin: auto;
}

@media only screen and (max-width: 600px) {
	#card-wrapper {
		width: 100%
	}
}

#list-navbar-bottom li.nav-item a.nav-link.active{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: #68c93e;
	color: white;
}

#card-wrapper nav.sticky-top.bg-light {
	background: #68c93e !important;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #68c93e;
	text-decoration: none;
}

button:hover {
	cursor: pointer;
	border: 2px solid green;
}